.lootbox-grid-container {
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.lootbox-grid-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.error {
    color: #f44336;
    text-align: center;
    margin-bottom: 10px;
}

.timer {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    color: #2196f3;
}

.lootbox-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

@media (max-width: 992px) {
    .lootbox-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .lootbox-grid {
        grid-template-columns: 1fr;
    }
}
